.container {
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.error {
    color: #fff;
    font-size: 1.5rem;
}