.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    background: #000;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(80px);
    /* Base blur for the blobs */
}

.blob {
    position: absolute;
    border-radius: 50%;
    opacity: 0.6;
    animation: move 20s infinite alternate;
}

.blob:nth-child(1) {
    top: -10%;
    left: -10%;
    width: 50vw;
    height: 50vw;
    background: #4f000b;
    /* Dark Red */
    animation-duration: 25s;
}

.blob:nth-child(2) {
    bottom: -10%;
    right: -10%;
    width: 60vw;
    height: 60vw;
    background: #1a0b2e;
    /* Dark Purple */
    animation-duration: 30s;
    animation-delay: -5s;
}

.blob:nth-child(3) {
    top: 40%;
    left: 40%;
    width: 40vw;
    height: 40vw;
    background: #0f172a;
    /* Dark Blue */
    animation-duration: 22s;
    animation-delay: -10s;
}

@keyframes move {
    0% {
        transform: translate(0, 0) scale(1);
    }

    100% {
        transform: translate(10%, 10%) scale(1.1);
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    /* 40% darkness/blur feel */
    backdrop-filter: blur(40px);
    /* The requested blur layer */
    /* Note: backdrop-filter blurs what's BEHIND this element. 
     So it blurs the .background blobs. */
}